
/*
mainPage page
*/

:root {

    /* Datos Video 1 */
    --video1-title: "Olas sin fin";
    --video1-description: "El sonido e imagen de esas ola infinitas \
                    haciendo estremecer cada uno de los poros de la piel.";
    --video1-calification: "Movimiento continuo!!";
    --video1-footer: "Olas en la playa";

    /* Datos Video 2 */
    --video2-title: "Naturaleza viva";
    --video2-description: "El poder incontrolable de esa naturaleza \
                    indomable que siempre querremos dominar.";
    --video2-calification: "El poder está ahí...";
    --video2-footer: "Naturaleza poderosa!!";

    /* Datos Video 3 */
    --video3-title: "Amor Incidicional";
    --video3-description: "Ese amor de nuestra mascota que \
                        jamás podremos dejar de recordar.";
    --video3-calification: "Un sentimiento sincero";
    --video3-footer: "A mi Nano... donde estés!!";
}


/* Montamos los datos del video 1 */
[id="video1-title"]::before { content: var(--video1-title); }
[id="video1-description"]::before { content: var(--video1-description); }
[id="video1-calification"]::before { content: var(--video1-calification); }
[id="video1-footer"]::before { content: var(--video1-footer); }

/* Montamos los datos del video 2 */
[id="video2-title"]::before { content: var(--video2-title); }
[id="video2-description"]::before { content: var(--video2-description); }
[id="video2-calification"]::before { content: var(--video2-calification); }
[id="video2-footer"]::before { content: var(--video2-footer); }

/* Montamos los datos del video 3 */
[id="video3-title"]::before { content: var(--video3-title); }
[id="video3-description"]::before { content: var(--video3-description); }
[id="video3-calification"]::before { content: var(--video3-calification); }
[id="video3-footer"]::before { content: var(--video3-footer); }





/* Ponemos los parámetros en la ventana modal */
[id$="-title"] {
    margin-bottom: 10px;
    text-decoration: underline;
    text-align: center;
}

p[id$="-description"], 
p[id$="-calification"] {
    margin-bottom: 10px;
}





/**********************************************************/
/* página principal */
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Declaraciones anteriores */
/**************************************************/
/* Hasta aquí */



/*****************************************************/
/* Título principal CENTRADO EN PANTALLA a gusto */
.index-title {
    text-align: center;
    width: 100%;
    height: 40%;
    padding-top: 2%;
    margin-bottom: 10px;
}

.index-title h1 {
    font-style: italic;
    color: red;
    font-size: 2.2rem;
    /* padding-top: 7%; */
}



/****************************************************/
/* Código modificado del footer principal */
.footer-links {
    margin-top: 10px;
}


.footer-links > ul { 
    display: flex;
    justify-content: space-between;
    /* align-content: center; */
    width: 60vw;
    height: 24px;
}

.footer-links li:first-child {
    margin: 0;
} 




/********************************************************/
/*
Nos permite crear la ventana MODAL 
*/
.modal-mask {
    position: fixed;
    font-family: Arial, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modal-mask:target {
    opacity:1;
    pointer-events: auto;
}

/* Creamos la ventana */
.modalbox {
    width: 250px;
    position: relative;
    top: 10%;
    padding: 5px 20px 13px 20px;
    background: #fff;
    border-radius:8px;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
     
}


/* Hacemos los movimientos */
.movedown {
    margin: 0 auto;
}


.rotate {
    margin: 10% auto;
    -webkit-transform: scale(-5,-5);
    transform: scale(-5,-5);
}


.resize {
    margin: 10% auto;
    width:0;
    height:0;
 
}


.modalmask:target .movedown{       
    margin:10% auto;
}


.modalmask:target .rotate{     
    transform: rotate(360deg) scale(1,1);
        -webkit-transform: rotate(360deg) scale(1,1);
}
 
.modalmask:target .resize{
    width:400px;
    height:200px;
}

/* botón close de la ventana modal */
.close {
	background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 5px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius:3px;
 
}
 
.close:hover {
    background: #FAAC58;
    color:#222;
}


/* A partir de aquí es el NUEVO carousel  */
.carousel {
    position: relative;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.64);
    margin-bottom: 10px;
    height: 70vh;
    width: 70vw;
    align-self: center;
    align-content: center;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 90%;
    height: 70%;
    margin: auto;
    margin-top: 10%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

/* Donde se pone la foto */
.cover-item {
    display: flex;
    position: relative;
    margin: auto;
    width: 80%;
    height: 100%;
    z-index: 1;
}

.cover-item img {
    width: 100%;
    border-radius: 0;
    height: 90%;
}



video {
    width: 100%;
    height: auto;
}

.description-item {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    background-color: antiquewhite;
    color: black;
    width: 85%;
    height: 65%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
    margin: auto;
    border: 0 red solid;
}

.description-item h2 {
    text-align: center;
    text-decoration: underline;
    padding-bottom: 8px;
}

.description-item p {
    font-style: italic;
    font-size: .8rem;
    padding: 5px;
}

.description-item:hover {
    z-index: 15;
}


.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    color:white;
    font-size: 3rem;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #black;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}



/*
Pié de video
*/
.footer-item {
    align-items: center;
    height: 30px;
    padding: 10px;
    color: var(--fg-footer-color);
}


.desvanecer:hover {
    opacity: 0.2;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
}










/************************************************/



@media screen and (max-width: 640px) { 
    
    .footer-links li {
        font-size: .6rem;
        margin-bottom: 4px;
    }

    .index-title h1 {
        font-size: 1.8rem;
    }
    /*******************************/
    /* Hacemos el carousel  */
    
}