/*
remainder Page
*/

.remainder-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    /* height: 300px; */
    width: 400px;
    border: 2px blue solid;
    margin: auto;
}

.remainder-form {
    display: flex;
    flex-direction: column;
    width: inherit;
}

.remainder-form h1 {
    text-align: center;
    padding: 5px 10px;
    font-size: 1.5rem;
}

.remainder-form p {
    width: inherit;
    padding-bottom: 10px;
}

.remainder-fields {
    display: flex;
    border: 0;
    padding: 15px;
}


.remainder-radio input {
    margin: 8px;
}

.remainder-email {
    display: block;
    justify-content: center;
    width: auto;
    /* padding: 10px; */
}

.remainder-email input {
    padding: 5px;
    /* width: 300px; */
}

.remainder-button-ok {
    text-align: center;
}

.remainder-button-back {
    padding: 10px;
}



/**********************************************/
/* media queries */

@media screen and (max-width: 640px) { 

    .remainder-main {
        width: 270px;
        font-size: .7rem;
    }

    .remainder-form {
        width: inherit;
    }

    .remainder-form h1 {
        font-size: .8rem;   
    }

    .remainder-fields {
        padding-bottom: 0;
    }

    .remainder-radio p {
        font-size: .7rem;
    }

    .remainder-form p {
        width: inherit;
        margin: 0;
    }

    .remainder-button-ok input[type="button"] {
        font-size: .8rem;
        margin-top: 5px;
    }
    
    .login-main-footer {
        margin-top: 5px;
    }

    .footer-links li {
        font-size: .6rem;
        margin-bottom: 4px;
    }

}



@media screen and (max-width: 640px) and (orientation: landscape) {

    .remainder-main {
        position: absolute;
        top: 10px;
        left: 200px;
    }

    .remainder-radio {
        display: flex;
    }
 
    /* footer */
    /* Lo hacemos en línea para poder ver mejor */
    .footer-links > ul { 
        display: flex;
        justify-content: space-between;
        width: 60vw;
        margin-top: 10px;
    }

    .footer-links li:first-child {
        margin: 0;
    }
}

