/*
searchWin Page
*/

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    /* height: 300px; */
    width: 400px;
    border: 2px blue solid;
    margin: auto;
}

.mainForm {
    display: flex;
    flex-direction: column;
    width: inherit;
}

.mainForm h1 {
    text-align: center;
    padding: 5px 10px;
    font-size: 1.5rem;
}

.mainForm p {
    width: inherit;
    padding-bottom: 10px;
}

.fields {
    display: flex;
    border: 0;
    padding: 15px;
}

 
.radio-group label {
    padding-left: 5px;

} 

.text-group {
    display: block;
    justify-content: center;
    width: auto;
    /* padding: 10px; */
}

.text-group input {
    padding: 5px;
    /* width: 300px; */
}

.button-ok {
    text-align: center;
}

.button-back {
    padding: 10px;
}



/**********************************************/
/* media queries */

@media screen and (max-width: 640px) { 

    .main {
        width: 270px;
        font-size: .7rem;
    }

    .mainForm {
        width: inherit;
    }

    .mainForm h1 {
        font-size: .8rem;   
    }

    .fields {
        padding-bottom: 0;
    }

    .mainForm p {
        width: inherit;
        margin: 0;
    }

    .radio-group p {
        font-size: .7rem;
    }

    .button-ok input[type="button"] {
        font-size: .8rem;
        margin-top: 5px;
    }
    
    .login-main-footer {
        margin-top: 5px;
    }

    .footer-links li {
        font-size: .6rem;
        margin-bottom: 4px;
    }

}



@media screen and (max-width: 640px) and (orientation: landscape) {

    .main {
        position: absolute;
        top: 10px;
        left: 200px;
    }

    .radio-group {
        display: flex;
    }
 
    /* footer */
    /* Lo hacemos en línea para poder ver mejor */
    .footer-links > ul { 
        display: flex;
        justify-content: space-between;
        width: 60vw;
        margin-top: 10px;
    }

    .footer-links li:first-child {
        margin: 0;
    }
}

