
/* Hacemos la importación SÓLO para saber que se puede importar la tipografía */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


* {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
}


/*
Nombre de la empresa para incustrar en la esquina superior izquierda
*/
#companyName::before {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    content: "myVideoNet";
    font-size: 40px;
    font-weight: 1000;
    top: 0;
    margin: 15px;
    color: blue;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.77);
    font-style: italic;
}


/* 
Propiedades generales de las páginas
*/
body {
    background-image: url("../img/myFondoPerspectiva.jpg");
}

footer {
    border-radius: 0;
    margin: 0;
    margin-top: 90px;
    
    width: 100%;
    height: 150px;
    background: rgba(0,0,0,0.80)
}

button {
    text-decoration: none;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 40px;
    width: 60%;
    height: auto;
    font-size: 20px;
    background-color:red;
    border: 2px solid;
    cursor: grab;
}


a {
    text-decoration: none;
    padding: 5px;
    color: black;
    font-style: italic;
    font-size: 14px;;
}


form {
    display: block;
    text-align: center;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    padding: 15px;
    font-size: 30px;
    background-color: grey;
    border-radius: 8px;
}

fieldset {
    text-align: center;
    border-color: blue;
    margin: 30px;
}

input {
    padding: 5px;
}


button:hover {
    background-color: blue;
    color: white;
}


.footer-class div p {
    border: 3px red solid;
}

.footer-class a {
    color: blue;
}

.footer-phone {
    /* border: solid 3px red; */
    display: block;
    padding-top: 20px;
    margin-left: 90px;
    
    color: blanchedalmond;
}

.footer-conditions {
    display: inline-block;
    color: blanchedalmond;
    margin-left: 90px;
}



/*
index Page
*/
.login-fields-class input {
    text-align: center;
    margin: 10px;
    height: 50px;
    width: 90%;
}


.login-remainder-class {
    float: left;
    font: initial;
}

.login-helper-class a {
    float: right;
}


.login-helper-class:hover {
    zoom: 1.4;
}



/*
remainderPage Page
*/

.form-remainder h1 {
    font-size: 30px;
}

.form-remainder p {
    font-size: 18px;
}

.radio-remainder-class {
    font-display: left;
    text-align: left;
    font-style: italic;
    font-size: 20px;
}

.radio-remainder-class input {
    margin-right: 15px;
}

.email-remainder-class input {
    height: 50px;
    width: 90%;
}


.form-remainder-buttonBack-class:hover a {
    padding-right: 10px;
    padding-left: 10px;
    zoom: 1.2;
    border: 2px red solid;
}


